alabaster==0.7.16
app-model==0.2.7
appdirs==1.4.4
appnope==0.1.4
asciitree==0.3.3
asttokens==2.4.1
attrs==23.2.0
Babel==2.15.0
build==1.2.1
cachey==0.2.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
comm==0.2.2
dask==2024.5.1
debugpy==1.8.1
decorator==5.1.1
docstring_parser==0.16
docutils==0.21.2
einops==0.8.0
exceptiongroup==1.2.1
executing==2.0.1
fasteners==0.19
freetype-py==2.4.0
fsspec==2024.5.0
HeapDict==1.0.1
hsluv==5.0.4
idna==3.7
imageio==2.34.1
imagesize==1.4.1
importlib_metadata==7.1.0
in-n-out==0.2.1
ipykernel==6.29.4
ipython==8.24.0
jedi==0.19.1
Jinja2==3.1.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
lazy_loader==0.4
libigl==2.5.1
locket==1.0.0
magicgui==0.8.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mdurl==0.1.2
morphosamplers==0.0.11
mrcfile==1.5.0
napari==0.4.19.post1
napari-console==0.0.9
napari-plugin-engine==0.2.0
napari-svg==0.1.10
napari-threedee==0.0.19
-e git+ssh://git@github.com/alisterburt/napari-tomoslice.git@dab69166035dee6d436904ad48c9258cf272359f#egg=napari_tomoslice
nest-asyncio==1.6.0
networkx==3.3
npe2==0.7.5
numcodecs==0.12.1
numpy==1.26.4
numpydoc==1.7.0
packaging==24.0
pandas==2.2.2
parso==0.8.4
partd==1.4.2
pexpect==4.9.0
pillow==10.3.0
Pint==0.23
platformdirs==4.2.2
pooch==1.8.1
prompt-toolkit==3.0.43
psutil==5.9.8
psygnal==0.11.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pyconify==0.1.6
pydantic==1.10.15
pydantic-compat==0.1.2
Pygments==2.18.0
PyOpenGL==3.1.7
pyproject_hooks==1.1.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.13
PyQt5-sip==12.13.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
qtconsole==5.5.2
QtPy==2.4.1
referencing==0.35.1
requests==2.32.2
rich==13.7.1
rpds-py==0.18.1
scikit-image==0.23.2
scipy==1.13.1
shellingham==1.5.4
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.3.7
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
stack-data==0.6.3
starfile==0.5.8
superqt==0.6.6
tabulate==0.9.0
tifffile==2024.5.10
tomli==2.0.1
tomli_w==1.0.0
toolz==0.12.1
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
typer==0.12.3
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
vispy==0.14.2
wcwidth==0.2.13
wrapt==1.16.0
zarr==2.18.1
zipp==3.18.2
